<div id="loaderInitPage">
  <img src="assets/images/loader/loading-lazy.gif">
</div>
<div align="center" class="header">
  <h1> markdownEditor </h1>
  <p> markdownEditor is a open source markdown editor designed by <strong>ngahane steve william</strong> </p>
  <a href="https://github.com/ngahane/markdownEditor" target="_blank">
    <button class="ui github icon button">
      <i class="github icon"></i> Github
    </button>
  </a>
  <a href="mailto:ngahanestevewilliam98@gmail.com" target="_blank">
    <button class="ui google plus icon button">
      <i class="google plus icon"></i> Google plus
    </button>
  </a>
  <a href="https://linkedin.com/in/steve-william-ngahane-6545b6137" target="_blank">
    <button class="ui linkedin icon button">
      <i class="linkedin icon"></i> Linkedin
    </button>
  </a>
</div>

<div class="ui internally celled grid">
  <div class="row">
    <div class="eight wide column">
      <h3>Markdown</h3>
      <textarea id="inputField" [(ngModel)]="inputField" (ngModelChange)="generateHTML($event)"></textarea>
    </div>
    <div class="eight wide column">
      <h3>Preview</h3>
      <div id="resultField"></div>
    </div>
  </div>
</div>
